@import "default.scss";

:root {
    --cursor-visibility: hidden;
}

body {
    // I prefer only the left and right margins for the post.
    align-items: unset;
    overflow-y: scroll;
}

#content {
    min-width: 130vmin;
    max-width: 130vmin;

}

#main {
    width: 100%;
    line-height: normal;
}

h1{
    text-align: center;
}

pre {
    overflow-x: scroll;
    white-space: pre;
}

#activity-title {
    &:after {
        @extend .cursor;
    }
    text-align: center;

}
#activity-content {
    &:after {
        @extend .cursor;
    }
    text-align: left;

}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
